.Button{
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-size: 24px;
    height: 55px;
    margin-bottom: 16px;
}

.primary{
    background-color: #FBBF23;
    border: none;
}

.outline{
    background-color: #ffffff;
    border: 1px solid #61A5FA;
}