.ColorPeaker{
    p{
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
    }
}

.colorList{
    display: flex;
}

.colorItem{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ffffff;  
    box-shadow: 0 0 5px 2px #23222227;
    margin-right: 16px;
    cursor: pointer;
}

.active{
    border: 4px solid #000000 ; 
}

.red {
    background-color: #EE4444;

}
.blue{
    background-color: #3C81F6;

}

.black{
    background-color: #000000;
}

.colorItem.active{
    border: 4px solid #000000 ; 
}

